<!doctype html>
<html>
<head>
    <title>Buy Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div id="grad">
        <h1>Ticket Purchase</h1>
        <form method="POST">
            <label>Departure:</label>
            <select name="departure">
                <option>Riga</option>
                <option>Tallinn</option>
                <option>Tartu</option>
                <option>Daugavpils</option>
                <option>Vilnius</option>
            </select>
            
            <label>Arrival:</label>
            <select name="arrival">
                <option>Riga</option>
                <option>Tallinn</option>
                <option>Tartu</option>
                <option>Daugavpils</option>
                <option>Vilnius</option>
            </select>

            <label for="departure_time">Select Departure Time:</label>
            <select name="departure_time" required>
                {% for time in available_times %}
                    <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
            </select>
        
            <!-- Extras checkboxes -->
            <div>
                <label><input type="checkbox" name="extras" value="snack"> Snack</label>
                <label><input type="checkbox" name="extras" value="meal"> Meal</label>
                <label><input type="checkbox" name="extras" value="luxury"> Luxury</label>
                <label><input type="checkbox" name="extras" value="child"> Child</label>
            </div>
        
            <button type="submit">Buy Ticket</button>
        </form>
    </div>
</body>
</html>
